/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//arrow styles
.custom-icon {
    width: 48px;
    height: 48px; 
    color: black; 
    font-weight: 100 !important;
   
  }
  
  .custom-icon .mat-icon svg {
    width: inherit;
    height: inherit;
    font-weight: inherit;
  }
  
  .custom-icon .mat-icon svg path {
    fill: currentColor; 
  }
  .arrow-button{
    margin-left: 2%;
  }
  .mat-card-title{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
  }
