<!-- <div class="center" >
  <img src="/assets/logo_p6.png" alt="logo" />
  <div class="container-home">
    <button mat-stroked-button [routerLink]="['/login']">Se connecter</button>
    <button mat-stroked-button [routerLink]="['/register']">S'inscrire</button>
  </div>
</div> -->


<div class="center" fxLayout="column" fxLayoutAlign="center center">
  <img src="/assets/logo_p6.png" alt="logo" />
  <div class="container-home" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.xs="column">
    <button mat-stroked-button [routerLink]="['/login']">Se connecter</button>
    <button mat-stroked-button [routerLink]="['/register']">S'inscrire</button>
  </div>
</div>

